<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Home" });
    });
  </script>
<% end %>

  <%# @products.each do |product| %>
    <%#= link_to product.title, "https://#{@shop_session.url}/admin/products/#{product.id}", target: "_top" %>
  <%# end %>

<h1>Menú</h1>
<br>
<ul>
  <li><%= link_to 'Carrier Services', carrier_services_path %></li>
</ul>
