<% content_for :javascript do %>
  <script type="text/javascript">
    window.mainPageTitle = 'Regular Page';
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({
        title: window.mainPageTitle,
        buttons: {
          secondary: [
            {
              label: "Documentation",
              href: "http://docs.shopify.com/embedded-app-sdk",
              target: 'new'
            },
            {
              label: "Back",
              href: "/",
              target: 'app'
            }
          ]
        }
      });
    });
  </script>
<% end %>


<h1> Carrier Services </h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Callback url</th>
      <th>Service discovery</th>
    </tr>
  </thead>
  <tbody>
    <% @carrier_services.each do |carrier_service| %>
      <tr>
        <td><%= carrier_service.name %></td>
        <td><%= carrier_service.callback_url %></td>
        <td><%= carrier_service.service_discovery%></td>
      </tr>
    <%end%>
  </tbody>
</table>

